name: SonarQube analysis
on:
  workflow_call:

jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      # INSTALL DEPENDENCIES (too heavy)
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install -e ".[test]"

      - name: Run tests with coverage
        run: |
          pytest --cov=src --cov-report=xml:coverage.xml test/

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}